.city__cards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.city__card {
    margin: 20px;
    background-size: cover;
}

.city__image {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.city__cards--hidden {
    display: none;
}