/*City cards*/
.city__cards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.city__card {
    margin: 20px;
    background-size: cover;
}

.city__image {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.city__cards--hidden {
    display: none;
}

.score__cards--hidden {
    display: none;
}

.icon{
    text-align: center;
}


/*Progress bar*/
.progress {
    background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	height: 30px;
	width: 300px;
}

.progress__done {
    background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	height: 100%;
	width: 0;
	opacity: 0;
    transition: 1s ease 0.3s;
    display: flex;
    float: left;
}



