* {
  margin: 0 auto;
}

.App {
  max-width: 1200px;
  font-family: "Gamja Flower", cursive;
}

.spinner {
  text-align: center;
}

.title {
  text-decoration: underline;
  text-align: center;
}

.select_a_city {
  text-align: center;
}

.no__cities {
  color: red;
  text-align: center;
  margin-top: 50px;
}

.card__container {
  background-image: url(./assets/background.png);
  background-position: bottom;
  height: 800px;
}

/*Hidden feature*/
.select_a_continent--hidden,
.no__cities--hidden,
.card__container--hidden {
  display: none;
}

/* background-color: !important;
color:  !important; */
